@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h2>Gerir a sua conta</h2>

<div>
    <h4>Modificar as definições de conta</h4>
    <hr />
    <div class="row">
        <div class="col-md-3" style="padding-right: 3rem; border-right: 1px solid rgba(0,0,0,.1)">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9" style="padding-left: 2rem;">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
