<!DOCTYPE html>
<html lang="pt-pt" xml:lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jakim Smartparking</title>
    <link rel="stylesheet" href="~/css/site.css" runat="server" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="background: #268596; padding-top:5px; margin-bottom: 2rem">
            <div class="container">
                <ul class="navbar-nav">
                    @if (User.IsInRole("Utilizador"))
                    {

                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="navbar-toggler-icon"></span></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background:#98AFC7">
                                <a class="dropdown-item text-light" asp-area="" asp-controller="Reservas" asp-action="Index">Reservas</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-light" asp-area="" asp-controller="SubAlugueres" asp-action="Index">Saldo</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-light" asp-area="" asp-controller="SubAlugueres" asp-action="Index">Sub-Alugueres</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-light" asp-area="" asp-controller="Transacoes" asp-action="Index">Transações</a>
                            </div>
                        </li>
                    }
                </ul>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: white; font-size: 20px; margin-top:8px">Jakim Smartparking</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <div style="margin-left:auto; margin-right: 0">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-light" style="background: #268596">
        <div class="container">
            &copy; 2021 - Jakim Smartparking - <a class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
