<!DOCTYPE html>
<html lang="pt-pt" xml:lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jakim Smartparking</title>
    <link rel="stylesheet" href="~/css/site.css" runat="server" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .loader-wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #242f3f;
            opacity: 0.7;
            visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .loader {
            display: inline-block;
            width: 50px;
            height: 50px;
            position: relative;
            border: 6px solid #Fff;
            animation: loader 2s infinite ease;
        }

        .loader-inner {
            vertical-align: top;
            display: inline-block;
            width: 100%;
            background-color: #fff;
            animation: loader-inner 2s infinite ease-in;
        }

        @@keyframes loader {
            0% {transform: rotate(0deg);}
            25% {transform: rotate(180deg);}
            50% {transform: rotate(180deg);}
            75% {transform: rotate(360deg);}
            100% {transform: rotate(360deg);}
        }

        @@keyframes loader-inner {
            0% {height: 0%;}
            25% {height: 0%;}
            50% {height: 100%;}
            75% {height: 100%;}
            100% {height: 0%;}
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="background: #268596; height:60px;padding-top:5px; margin-bottom: 2rem">
            <div class="container">
                <ul class="navbar-nav">
                    @if (User.IsInRole("Utilizador"))
                    {

                    <li class="nav-item dropdown">
                        <a class="nav-link navbar-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="navbar-toggler-icon"></span></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background:#98AFC7">
                            <a class="dropdown-item" asp-area="" asp-controller="Reservas" asp-action="Index" onclick="loadingjakim();">Reservas</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="" asp-controller="Utilizadores" asp-action="Saldo" onclick="loadingjakim();">Saldo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="" asp-controller="SubAlugueres" asp-action="Index" onclick="loadingjakim();">Sub-Alugueres</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="" asp-controller="Transacoes" asp-action="Index" onclick="loadingjakim();">Transações</a>
                        </div>
                    </li>
                    }
                </ul>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: white; font-size: 20px; margin-top:8px" onclick="loadingjakim();">Jakim Smartparking</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <div style="margin-left:auto; margin-right: 0">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="loadingjakim" class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <footer class="footer text-light" style="background: #268596">
        <div class="container">
            &copy; 2021 - Jakim Smartparking - <a class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy" onclick="loadingjakim();">Privacidade</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script type='text/javascript'>
    function loadingjakim() {
        document.getElementById('loadingjakim').style.visibility = 'visible';
    }
</script>
