@using Microsoft.AspNetCore.Identity
@inject SignInManager<Utilizador> SignInManager
@inject UserManager<Utilizador> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" onclick="loadingjakim();">Bem-vindo @UserManager.GetUserAsync(User).Result.Nome!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" style="margin-top:4px" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light" onclick="loadingjakim();">Terminar Sessão</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register"><span class="glyphicon glyphicon-user" onclick="loadingjakim();"></span> Registar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login" onclick="loadingjakim();"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sessão</a>
        </li>
    }
</ul>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" runat="server" type="text/css" />
