@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueceu a sua palavra-passe - confirmação";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor veja o seu email para redefinir a sua password.
</p>

