@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de redefinir palavra-passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    A sua palavra-passe foi redefinida. Por favor clique aqui para iniciar sessão: <a asp-page="./Login">Iniciar sessão</a>.
</p>
