@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    A sua password foi redefinida. Por favor clique aqui para iniciar sesão: <a asp-page="./Login"></a>.
</p>
