@model APP_FrontEnd.Models.SubAluguerDTO

@{
    ViewData["Title"] = "Registar";
}

<h1>Registar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ParqueId" />
            <input type="hidden" asp-for="NomeParque" />
            <input type="hidden" asp-for="Numero" />
            <input type="hidden" asp-for="Fila" />
            <input type="hidden" asp-for="Andar" />
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="NifProprietario" />
            <input type="hidden" asp-for="ReservaSistemaCentralId" />
            <input type="hidden" asp-for="Inicio" />
            <input type="hidden" asp-for="Fim" />
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Desistir</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
