@model APP_FrontEnd.Models.SaldoDTO

@{
    ViewData["Title"] = "Saldo na Sua Carteira";
}

<h1>Saldo na Sua Carteira</h1>
<div>
    <hr />
    <br />
    <h5>
        Atualmente, o saldo atual na sua carteira é:
    </h5>
    <br />
    <dl class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<br />
<br />
<br />
<br />
<br />
<div>
    <a class="text-light" style="font-size:1.2rem" asp-action="Depositar" onclick="loadingjakim();">Pretende Adicionar Créditos à Carteira?</a>
</div>
