@{
    ViewData["Title"] = "HomePage";
}

<div class="text-center">
    <h1 class="display-4"><b>Bem-vindo ao Jakim Smartparking!</b></h1>
    <br /><br />
    <h3>A solução inovadora criada pela equipa "Jakim das Coives"<br />
       para a gestão eficiente do estacionamento na rua num único sistema integrado.</h3>
    <br /><br />
    <h3>Um sistema <b>completo</b>, <b>fácil</b> de gerir e <b>agradável</b> de usar.</h3>
</div>
