@{
    ViewData["Title"] = "Política de Privacidade";
}
<h3>Publicidade e Termos de Utilização</h3>
<br />
<p>
    <b>POLÍTICA DE PRIVACIDADE DA JAKIM SMARTPARKING</b>
    <br /><br />
    Quando utiliza os nossos serviços, está a confiar-nos as suas informações.
    Compreendemos que é uma enorme responsabilidade e trabalhamos arduamente para proteger as suas informações e dar-lhe o controlo sobre elas.
    <br /><br />
    A presente Política de Privacidade destina-se a ajudá-lo a compreender as informações que recolhemos,
    o motivo para o fazermos, e como pode atualizar, gerir, exportar e eliminar as suas informações.
    <br /><br />
    A Jakim SmartParking enquanto responsável pelo tratamento de dados:<br />
    • Assegura que o tratamento dos seus dados pessoais é efetuado no âmbito das finalidades para as quais os mesmos foram recolhidos ou para finalidades compatíveis com aquelas;<br />
    • Recolhe, utiliza e conserva apenas os dados pessoais necessários para a finalidade em causa;<br />
    • Não procede a qualquer transmissão de dados pessoais para fins comerciais ou de publicidade;<br />
    • Trata os dados pessoais para fins legalmente previstos ou para a prossecução de serviços a seu pedido.<br />
    <br />
    Em vigor a 1 de março de 2021
</p>
